* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  color: #1f2133;
}

.avatar {
  height: 50px;
  width: 50px;
}
.avatar-lg {
  height: 100px;
  width: 100px;
}
.app-dashboard-layout {
  display: grid;
  grid-template-columns: 14% 86%;
  grid-gap: 20px;
}

.list-group-item {
  cursor: pointer;
  border-top-right-radius: 20px !important;
  border-bottom-right-radius: 20px !important;
  transition: all 200ms ease-out;
}

td {
  padding: 5px;
}
li a {
  text-decoration: none !important;
  color: #1f2133;
  font-weight: 500;
}
li a:hover {
  color: #1f2133;
}

@media only screen and (max-width: 500px) {
  .list-group-item a span {
    display: none;
  }
}
@media screen and (min-width: 501px) and (max-width: 880px) {
  .list-group-item a i {
    display: none;
  }
}
